body {
  background-color: rgb(235, 229, 224) ;
}


#header .container p{
  font-size: 30px;
}

#main .carousel-inner img{
  max-height: 82.5vh;
  object-fit: cover ;
  filter: grayscale(70%);
}

#carousel{
  position: relative;
}

#carousel .overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
  height: 100%;
}


#footer {
  background: rgb(18,31,61) ;
}

#footer a{
  color: white
}
